body {
    font-family: Arial, sans-serif;
    margin: 2rem;
    text-align: center;
    background-image: url('groundImage.jpg'); /* Replace with your image path */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #F0F0F0;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: antiquewhite; /* Dark gray heading color */
}

p {
    margin-bottom: 0.5rem;
    color: antiquewhite; /* Medium gray text color */
}

a {
    color: antiquewhite; /* Blue link color */
    text-decoration: none;
}

a:hover {
    color: darkblue; /* Darker blue hover color */
    text-decoration: underline;
}