<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"
            rel="stylesheet"
    />
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
            integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    />
    <title>Document</title>
</head>
<body>
<div class="hero">
    <nav>
        <img src="/images/L.png" class="logo">
        <ul>
            <li> <a href="#">Home</a></li>
            <li> <a href="#">Features</a></li>
            <li> <a href="#">About</a></li>
            <li> <a href="/Contact">Contact</a></li>
        </ul>
        <img src="/images/user.png" alt="" class="user-pic" onclick="toggleMenu()">
        <div class="sub-menu-wrap" id="subMenu">
            <div class="sub-menu">
                <div class="user-info">
                    <img src="/images/user.png" alt="">
                    <h3><a href="/Me">Me</a></h3>
                </div>
                <hr>
                <a href="#" class="sub-manu-link">
                    <img src="/images/profile.png" alt="">
                    <p>Edit Profile</p>
                    <span>></span>
                </a>
                <a href="#" class="sub-manu-link">
                    <img src="/images/setting.png" alt="">
                    <p>Settings & Privacy</p>
                    <span>></span>
                </a>
                <a href="#" class="sub-manu-link">
                    <img src="/images/help.png" alt="">
                    <p>Help & Support</p>
                    <span>></span>
                </a>
                <a href="#" class="sub-manu-link">
                    <img src="/images/logout.png" alt="">
                    <p>Logout</p>
                    <span>></span>
                </a>
            </div>
        </div>
    </nav>
    <section class="firstSection">
        <div class="leftSection">
            <div>Welcome the the Library</div>
            <div>Here you can find:-</div>
            <span id="element"></span>
        </div>
        <div class="rightSection">
            <img src="/images/pic.png" />
        </div>
    </section>
</div>
<script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
<script>
    let subMenu = document.getElementById("subMenu");

    function toggleMenu(){
        subMenu.classList.toggle("open-menu");
    }
</script>
<script>
    var typed = new Typed("#element", {
        strings: [
            "More than 1000 books",
            "Reachout to the Librarian",
            "See your all issued books",
            "See your dates of every book for resubmittion"
        ],
        typeSpeed: 75,
        loop: true
    });
</script>
</body>
</html>

