<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="refresh" content="2; URL=/login/admin-Login">
    <link rel="stylesheet" href="/css/noAdmin.css">
    <title>Title</title>
</head>
<body>
<div class="message-container">
    <h1>No User Found</h1>
    <p>We couldn't find a user with the provided information. Please try again.</p>
    <a th:href="@{/login/admin-Login}" class="back-button">Back to Login</a>
</div>
<!--<h1>No admin is found</h1>-->
<!--<p>wrong username given, back to admin login page <a th:href="@{/login/admin-Login}">Login As Admin</a></p>-->
<!--<p>Register As Admin <a th:href="@{/registration/add-Admin}">Register</a></p>-->
</body>
</html>