<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="refresh" content="2; URL=/login/User-Login">
    <link rel="stylesheet" href="/css/noUser.css">
    <title>Title</title>
</head>
<body>
<div class="message-container">
    <h1>No User Found</h1>
    <p>We couldn't find a user with the provided information. Please try again.</p>
    <a th:href="@{/login/User-Login}" class="back-button">Back to Login</a>
</div>
<!--<h1>No User is found</h1>-->
<!--<p>wrong username given, back to User login page <a th:href="@{/login/User-Login}">Login As User</a></p>-->
<!--<p>Register As User <a th:href="@{/registration/add-User}">Register</a></p>-->
</body>
</html>