<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="refresh" content="5; URL=/login/User-Login">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/css/SuccessUser.css">
    <title>Success Page</title>
</head>
<body>
<div class="container">
    <div class="top">
        <i class="fa-regular fa-circle-check"></i>
        <h3>SUCCESS</h3>
    </div>
    <div class="bottom">
        <p>Congratulation, your account has been successfully created</p>
        <button th:href="@{/login/User-Login}">Continue</button>
    </div>
</div>
<!--<h1>Registration Completed</h1>-->
<!--<p>You have successfully registered. Redirecting to login page...</p>-->
<!--<p>If you're not redirected, <a th:href="@{/login/User-Login}">click here</a>.</p>-->
</body>
</html>