<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta>
    <title>Title</title>
</head>
<body>
<h2>User Login</h2>
<form action="/login/userLogin" method="post" th:object="${userLogin}">
    <label for="username">Username:</label>
    <input type="text" id="username" th:field="*{userName}" ><br><br>

    <label for="password">Password:</label>
    <input type="text" id="password" th:field="*{password}" ><br><br>


    <button type="submit">Login</button>
    <p>don't have any admin account? <a href="/registration/add-User">Register As User</a></p>
</form>
</body>
</html>